body {
    background-color: beige;
    font-size: 30px;
    
}
/* class selector for homepage */
.welcome {
    text-align: center;
}

.i_have {
    text-align: center;
}

.tldr {
    text-align: center;
}


