    body { 
        background-color: #00695C;
    }
    
    .image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .photo-container img {
    margin: 10px;
  }

  img {
    height: auto;
    width: 200px;
  }