body {
    background-color: beige;
    
}
/* class selector for homepage */
.welcome {
    text-align: center;
    font-size: 25px
}

.i_have {
    text-align: center;
    font-size: 25px;
}

.tldr {
    text-align: center;
    font-size: 25px;
}

.future {
    text-align: center;
    font-size: 25px;
}

